.section {
  background-color: #0D0D0D;
}


$primary: darkslateblue;
// $Personal: #263647;
$personal: #171626;
$inner: 1180px;

$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px 
);

//Works img
$imgSize: 350px;

// bootstrap 
@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables"; // 변수 담고있는 모듈
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/bootstrap";