$primary: darkslateblue;
// $Personal: #263647;
$personal: #171626;
$inner: 1180px;

// bootstrap 
@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables"; // 변수 담고있는 모듈
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/bootstrap";